@media only screen and (max-width: 1279px){}
.text-page .max-wrap {
	padding: 30px 30px 30px 200px;
}
.text-page .max-wrap .full-width {
	margin-left: -200px;
	margin-right: -30px;
}

/*social*/
.soc {
	width: 200px;
	padding-bottom: 25px;
	padding-left: 30px;
}
/*social end*/

/*note*/
.note,
.more {
	padding-right: 30px;
	margin-right: -30px;
}
/*note end*/

/*blockquote*/
.user-content blockquote {
	padding-right: 30px;
	margin-right: -30px;
}
/*blockquote end*/

/*breadcrumbs*/
.user-content .breadcrumbs{ padding-left: 30px; }
/*breadcrumbs end*/

/*tabs*/
.tab-controls li, .user-content .tab-controls li, .user-content .tab-controls li:first-child {
	font-size: 30px;
	line-height: 36px;
}
.tab-controls a {
	padding: 5px 22px;
}
/*tabs end*/

/*previews*/
.previews{
	max-width: 840px;
}
.previews__list{
	padding-left: 0;
}
.previews__item{
	float: none;
	margin-left: 0;
	display: inline-block;
	vertical-align: top;
	max-width: 33.33%;
}
.previews__item:before{
	border-left-color: #fff;
	border-bottom-color: transparent;
}
.previews__item:first-child:before{
	border-left-color: #d8d8d8;
}
.previews__item_lg{ max-width: none; }
.previews__item:nth-child(3){ display: inline-block; }
/*previews end*/

/*FILTERS*/
.filters__group:nth-child(2){
	float: none;
	overflow: hidden;
}
.filters__group.filters__search{
	overflow: visible;
	float: left;
	min-width: 280px;
}
.filters-drop__list li,
.user-content .filters-drop__list li,
.user-content .filters-drop__list li:first-child {
	width: 49.98%;
}
/*FILTERS end*/

/*main navigation*/
.nav-drop__group{
	padding: 25px 30px;
	width: 240px;
}
/*main navigation end*/