@media only screen and (max-width: 1599px){}
/*tabs*/
.tab-controls li, .user-content .tab-controls li, .user-content .tab-controls li:first-child {
	font-size: 30px;
	line-height: 36px;
}
.tab-controls a {
	padding: 5px 22px;
}
/*tabs end*/

/*previews*/
.previews{
	max-width: 840px;
}
.previews__item { width: 33.3%; }
.previews__item_lg { width: auto; }
.previews__item:nth-child(2) { display: none; }
/*previews end*/

/*footer*/
/*footer nav*/
.footer-nav__col{
	width: 33.28%;
}
.footer-nav__col.col-lg{
	width: 66.56%;
}
.footer-nav__col.no-space {
	padding-left: 30px;
}
/*footer nav end*/
/*footer end*/