@media only screen and (max-width: 1599px){}
/*screen*/
.screen__logo{
	width: 172px;
	left: 66px;
}
.screen__title{
	font-size: 30px;
	line-height: 40px;
	padding-left: 260px;
}
/*screen end*/
/*tabs*/
.tab-controls li, .user-content .tab-controls li, .user-content .tab-controls li:first-child {
	font-size: 30px;
	line-height: 36px;
}
.tab-controls a {
	padding: 5px 22px;
}
/*tabs end*/

/*previews*/
.previews__item:nth-child(1) { display: inline-block; }
/*previews end*/

/*FILTERS*/
.filters__group {
	min-height: 72px;
	padding: 15px 1%;
}
.filter-more-options:before{
	min-height: 72px;
}
.filters__group .button,
.filters__group .filters-counter,
.btn-filter-opener{
	padding: 5px 10px;
	min-height: 42px;
}
.search-form input[type="search"],
.search-form input[type="text"] {
	padding: 5px 38px 5px 15px;
	height: 42px;
}
.search-form .btn-search { right: 15px; }
.filters__group:nth-child(3){ clear: left; }
.filters-drop__holder { padding: 34px 30px 14px; }
.filters-drop__list,
.user-content .filters-drop__list {
	margin: 0 -5px 0 -10px;
}
.filters-drop__list li,
.user-content .filters-drop__list li,
.user-content .filters-drop__list li:first-child {
	padding: 0 5px 20px 10px;
	width: 24.98%;
}
/*FILTERS end*/

/*FOOTER*/
/*footer nav*/
.footer-nav__col{
	width: 33.28%;
}
.footer-nav__col.col-lg{
	width: 66.56%;
}
.footer-nav__col.no-space {
	padding-left: 30px;
}
/*footer nav end*/
/*FOOTER end*/