@media only screen and (max-width: 1899px){}
/*previews*/
.previews{
	max-width: 1400px;
	margin: 0 auto;
}
.previews__item:nth-child(3) {
	display: none;
}
.previews__item_lg{
	width: auto;
}
/*previews end*/

/*footer*/
/*footer nav*/
.footer-nav__col,
.footer-nav__col.col-lg{
	width: 19.98%;
}
/*footer nav end*/
/*footer end*/