@media only screen and (max-width: 479px){}

.main,
.sidebar,
.hide-screen .sidebar{ padding-top: 68px; }
.products-page .main { padding-top: 140px; }

.buttons,
.load-more{ padding: 25px 20px 45px; }
.section-title{ padding: 45px 20px 25px; }

/*HEADER*/
.header{
	padding: 10px 60px 10px 20px;
	height: 68px;
	-webkit-transform: translate(0, -68px);
	-ms-transform: translate(0, -68px);
	transform: translate(0, -68px);
}
.home-page.header-show .header{
	-webkit-transform: translate(0, -68px);
	-ms-transform: translate(0, -68px);
	transform: translate(0, -68px);
}
.btn-menu{ right: 20px; }
/*slogan*/
.header .logo__slogan{
	display: none;
}
/*slogan*/
/*HEADER end*/

/*tabs*/
.tabs-wrap{
	padding-top: 20px;
}
.tabs-wrap,
.products__list{
	max-width: 280px;
	margin: 0 auto;
}
.tabs-wrap .tab-controls,
.user-content .tab-controls{
	border-width: 1px;
}
.tab-controls li,
.user-content .tab-controls li,
.user-content .tab-controls li:first-child {
	font-size: 18px;
	line-height: 24px;
}
/*tabs end*/

.section-title h2,
.section-title h1{
	font-size: 30px;
	line-height: 40px;
}

/*previews*/
.previews{ max-width: 280px; }
.previews__item{
	display: block;
	max-width: none;
}
.previews__item:nth-child(3){ display: block; }
.previews__item_lg{ max-width: none; }
.previews__item_lg .previews__img{ min-height: 434px; }
.previews__item:before { border-left-color: #d8d8d8; }
.previews__inner{ height: auto !important; }
/*previews end*/

/*SIDEBAR*/
.sidebar{ width: 100%; }
/*main navigation*/
.nav-drop{
	position: relative;
	left: auto;
	top: auto;
	height: auto !important;
	overflow: hidden;
}
.nav-drop__holder { padding-top: 0; }
.nav-drop__group { width: auto; }
/*main navigation end*/
/*SIDEBAR end*/

/*FILTERS*/
.filters-drop__holder {
	padding: 24px 20px 14px;
}
.filters-drop__list li,
.user-content .filters-drop__list li,
.user-content .filters-drop__list li:first-child {
	width: auto;
	display: block;
}
.header-show .filters-opener {
	-webkit-transform: translate(0, 68px);
	-ms-transform: translate(0, 68px);
	transform: translate(0, 68px);
}
.filters__group{
	padding-left: 10px;
	padding-right: 10px;
}
.filters__group .button, .filters__group .filters-counter, .btn-filter-opener {
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.filters__group .button,
.search-form{ margin: 0 6px; }
.filter-more-options{ padding: 0 20px; }
.filters__label{ padding-left: 6px; }

.btn-filter-close{ right: 20px; }
/*FILTERS end*/

/*FOOTER*/
/*footer nav*/
.footer-nav__col {
	width: auto;
	display: block;
	padding: 0 20px 30px;
}
.footer-nav__col.no-space {
	padding-left: 30px;
	padding-right: 30px;
}
/*footer nav end*/

/*footer holder*/
.footer-col {
	display: block;
	width: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}
/*footer holder end*/
/*FOOTER end*/