@media only screen and (max-width: 479px){}

h1 {
	padding-bottom: 45px;
}

.main,
.sidebar,
.hide-screen .sidebar{ padding-top: 68px; }
.products-page .main { padding-top: 140px; }
.mobile .nav-drop .btn-close{ margin-top: 0; }
.text-page .max-wrap {
	padding: 30px 20px;
}
.form-row .input-wrap {
	display: block;
	width: auto;
}
.form-row .input-wrap{ padding-top: 20px; }
.form-row .input-wrap:first-child{ padding-top: 0; }

/*social*/
.soc {
	padding-bottom: 20px;
	padding-left: 20px;
}
.soc-list li,
.user-content .soc-list li,
.user-content .soc-list li:first-child { padding: 0 15px 10px 0; }
.soc-list .soc-icons{ margin-right: 6px; }
/*social end*/

/*datetime*/
.datetime { padding-bottom: 20px; }
/*datetime end*/

/*note*/
.note,
.more{
	padding-right: 20px;
	margin-right: -20px;
}
/*note end*/

/*blockquote*/
.blockquote { padding: 35px 0 30px; }
.user-content blockquote {
	padding-right: 20px;
	padding-top: 60px;
	padding-bottom: 70px;
	margin-right: -20px;
}
.user-content blockquote:after {
	width: 54px;
	height: 42px;
	left: 0;
	top: -10px;
}
/*blockquote end*/

.buttons,
.load-more{ padding: 25px 20px 45px; }
.section-title{ padding: 45px 20px 25px; }

/*HEADER*/
.header{
	padding: 10px 60px 10px 20px;
	height: 68px;
	-webkit-transform: translate(0, -68px);
	-ms-transform: translate(0, -68px);
	transform: translate(0, -68px);
}
.home-page.header-show .header{
	-webkit-transform: translate(0, -68px);
	-ms-transform: translate(0, -68px);
	transform: translate(0, -68px);
}
.btn-menu{ right: 20px; }
/*slogan*/
.header .logo__slogan{
	display: none;
}
/*slogan*/
/*HEADER end*/

/*tabs*/
.products__list{
	max-width: 280px;
	margin: 0 auto;
}
.tabs-wrap .tab-controls,
.user-content .tab-controls{
	border-width: 1px;
}
.tab-controls li,
.user-content .tab-controls li,
.user-content .tab-controls li:first-child {
	font-size: 18px;
	line-height: 24px;
}
/*tabs end*/

h1,
.section-title h2,
.section-title h1,
.video-section h2{
	font-size: 30px;
	line-height: 40px;
}

/*previews*/
.previews{ max-width: 280px; }
.previews__item{
	display: block;
	max-width: none;
}
.previews__item:nth-child(3){ display: block; }
.previews__item_lg{ max-width: none; }
.previews__item_lg .previews__img{ min-height: 434px; }
.previews__item:before { border-left-color: #d8d8d8; }
.previews__inner{ height: auto !important; }
/*previews end*/

/*news*/
.news,
.news__content{
	padding-left: 20px;
	padding-right: 20px;
}
.load-more__icon{
	width: 70px;
	height: 70px;
}
.load-more__icon [class*="depict-"]{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(-50%, -50%) scale(0.8, 0.8);
	-ms-transform: translate(-50%, -50%) scale(0.8, 0.8);
	transform: translate(-50%, -50%) scale(0.8, 0.8);
}
/*news end*/

/*locate*/
.locate{
	padding: 190px 20px 20px;
	min-height: 568px;
}
.locate-controls{
	left: 20px;
	top: 20px;
	font-size: 18px;
	line-height: 24px;
}
.map-show .locate-controls {
	display: none;
}
.locate-controls a{
	float: none;
	display: block;
	text-align: center;
}
.locate-adr__item,
.locate-cont__item {
	font-size: 18px;
	line-height: 26px;
}
.locate-cont__item dt {
	min-width: 65px;
}
.locate-cont__item .locate__tel + dd {
	font-size: 24px;
	line-height: 26px;
	position: relative;
}
.see-map{
	right: 18px;
	top: 18px;
	width: 56px;
	height: 56px;
}
/*locate*/

/*contacts form*/
.contacts-form{
	padding-left: 20px;
	padding-right: 20px;
}
.contacts-form h3{
	font-size: 30px;
	line-height: 40px;
}
/*contacts form end*/

/*video section*/
.video-slider .swiper-slide {
	width: 100%;
	max-width: 100%;
}
.play-video > span {
	width: 60px;
	height: 60px;
	margin: -50px 0 0 -30px;
}
.video-slider .swiper-button-prev:before,
.video-slider .swiper-button-next:before {
	height: 8px;
	width: 20px;
	margin: -4px 0 0 -10px;
}
.video-slider .swiper-button-next:before,
.video-slider .swiper-container-rtl .swiper-button-prev:before {
	background-position: 0 -17px;
}
.video-slider .swiper-button-prev, .video-slider .swiper-button-next {
	width: 36px;
}
/*video section end*/

/*popup*/
.product-card {
	padding-left: 20px;
	padding-right: 20px;
}
/*popup end*/

/*SIDEBAR*/
.sidebar{ width: 100%; }
/*main navigation*/
.nav-drop{
	position: relative;
	left: auto;
	top: auto;
	height: auto !important;
	overflow: hidden;
}
.nav-drop__holder { padding-top: 0; }
.nav-drop__group { width: auto; }
/*main navigation end*/
/*SIDEBAR end*/

/*FILTERS*/
.filters-drop__holder {
	padding: 24px 20px 14px;
}
.filters-drop__list li,
.user-content .filters-drop__list li,
.user-content .filters-drop__list li:first-child {
	width: auto;
	display: block;
}
.header-show .filters-opener {
	-webkit-transform: translate(0, 68px);
	-ms-transform: translate(0, 68px);
	transform: translate(0, 68px);
}
.filters__group{
	padding-left: 10px;
	padding-right: 10px;
}
.filters__group .button, .filters__group .filters-counter, .btn-filter-opener {
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.filters__group .button,
.search-form{ margin: 0 6px; }
.filter-more-options{ padding: 0 20px; }
.filters__label{ padding-left: 6px; }

.btn-filter-close{ right: 20px; }
/*FILTERS end*/

/*FOOTER*/
/*footer nav*/
.footer-nav__col,
.footer-nav__col.no-space {
	width: auto;
	display: block;
	padding: 0 20px 30px;
}
.footer-nav__list,
.user-content .footer-nav__list,
.footer-nav__title{
	font-size: 0;
	letter-spacing: -4px;
}
.footer-nav__list li{
	display: inline-block;
	vertical-align: top;
	width: 49.98%;
}
.footer-nav__list li,
.user-content .footer-nav__list li,
.user-content .footer-nav__list li:first-child,
.footer-nav__title{
	padding: 0 0 12px;

	font-size: 20px;
	letter-spacing: normal;
}
/*footer nav end*/

/*footer holder*/
.footer-col {
	display: block;
	width: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}
/*footer holder end*/
/*FOOTER end*/