@media only screen and (max-width: 639px){}

.products-page .main { padding-top: 158px; }
.screen__logo{
	width: 172px;
	left: 50%;
	top: 40px;
	margin-left: -86px;
}
.screen__title {
	font-size: 24px;
	line-height: 30px;
	padding-left: 30px;
	top: 138px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	padding-left: 20px;
	padding-right: 20px;
}
.select select,
.select button.cselect .select-inner{
	padding-left: 20px;
}
/*HEADER*/
.nav-opened .header .logo {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*HEADER end*/

.text-page .max-wrap {
	padding: 30px;
}
.text-page .max-wrap .full-width { margin-left: -30px; }

/*files*/
.files{
	margin-left: 0;
	padding-left: 20px;
}
.files .files-item {
	display: block;
	width: auto;
	padding: 0 0 30px;
}
/*files*/

/*social*/
.soc {
	float: none;
	width: auto;
	position: relative !important;
	top: auto !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.header-show .soc.fixed {
	-webkit-transform: translate(0, 0) !important;
	-ms-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
}
.soc-list, .user-content .soc-list {
	overflow: hidden;
}
.soc-list li, .user-content .soc-list li, .user-content .soc-list li:first-child {
	float: left;
	padding: 0 25px 10px 0;
}
/*social end*/

/*note*/
.note, .more { margin-bottom: 20px; }
/*note end*/

/*tabs*/
.tabs-wrap .tab-controls,
.user-content .tab-controls{
	display: table;
	padding: 0;
	border: solid #d8d8d8;
	border-width: 1px 0;
	width: 100%;
	background: #fff;
}
.tab-controls li,
.user-content .tab-controls li,
.user-content .tab-controls li:first-child{
	display: table-cell;
	padding: 0;
	margin: 0;
	border-left: 1px solid #d8d8d8;
	font-size: 24px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	table-layout: fixed;
}
.tab-controls li:first-child,
.user-content .tab-controls li:first-child{
	border-left: none;
}
.tab-controls a{
	padding: 14px 4px;
	border-radius: 0;
}
.tab-controls a:after{
	content: none;
}
.tab-controls a span{
	line-height: 20px;
	border-width: 1px;
}
/*tabs end*/

/*news*/
.new__date{
	text-align: right;
	padding: 0 0 0 110px;
	margin: 0 0 28px;
}
.news__img {
	position: absolute;
	left: 61px;
	top: 0;
	height: 64px;
	width: 62px;
	box-sizing: border-box;
}
.news__img img{ min-height: 100%; }
/*news end*/

/*SIDEBAR*/
.nav-drop__group {
	width: 240px;
}
/*SIDEBAR end*/

/*FILTERS*/
.filters-opener{
	display: block;
}
.header-show .filters-opener{
	-webkit-transform: translate(0, 86px);
	-ms-transform: translate(0, 86px);
	transform: translate(0, 86px);
}
.filters{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	overflow: auto;
	background: #fff;
	z-index: 102;
}
.filters,
.header-show .filters {
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	opacity: 0;
	visibility: hidden;
}
.filters__panel:before{ content: none; }

.filters__panel-holder{
	box-sizing: border-box;
	padding-top: 72px;
}
.filters__group {
	display: block;
	float: none;
	border-left: none;
	padding: 15px 20px;
}
.filters__group.filters__search {
	float: none;
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-right: 60px;
}
.filters__label.hide-state{
	display: block;
}

.filters-drop{
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	overflow: visible;
	opacity: 1 !important;
	visibility: visible !important;
	height: auto !important;
	background: #fff;
	display: none;
}
.filters-drop.show-drop{
	display: block;
}
.filters-drop__title{
	font-size: 20px;
	line-height: 24px;
}

.btn-filter-close{
	display: block;
}
/*FILTERS end*/

/*FOOTER*/
/*footer nav*/
.footer-nav{ padding: 40px 0 10px; }
.footer-nav__col{ width: 49.98%; }
.footer-nav__col.no-space {
	padding-left: 0;
	padding-right: 30px;
}
.footer-nav__col.col-lg {
	width: auto;
	display: block;
}
/*footer nav end*/

/*footer holder*/
.footer-holder{ padding-bottom: 20px; }
.footer-holder:before{ content: none; }
.footer-col{
	width: 49.9%;
	padding-top: 20px;
	padding-right: 0;
}
.footer-col_left {
	padding-right: 12px;
	text-align: center;
}
.footer-col_right {
	display: block;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	width: auto;
}
/*footer holder end*/
/*FOOTER end*/
