@media only screen and (max-width: 767px){}

/*breadcrumbs*/
.breadcrumbs {
	padding-bottom: 30px;
}
/*breadcrumbs end*/

/*datetime*/
.datetime{
	padding-bottom: 30px;
}
/*datetime end*/

/*previews*/
.previews{
	max-width: 560px;
}
.previews__item{
	max-width: 50%;
}
.previews__item:nth-child(3){ display: none; }
.previews__item_lg{ max-width: none; }
/*previews end*/

/*FILTERS*/
.filters-button-middle .button {
	min-width: 60px;
}
/*FILTERS end*/