@media only screen and (max-width: 767px){}

/*MAIN*/
/*CONTENT*/
/*breadcrumbs*/
.breadcrumbs {
	padding-bottom: 30px;
}
/*breadcrumbs end*/

/*datetime*/
.datetime{
	padding-bottom: 30px;
}
/*datetime end*/

/*previews*/
.previews{
	max-width: 560px;
}
.previews__item{
	max-width: 50%;
}
.previews__item:nth-child(3){ display: none; }
.previews__item_lg{ max-width: none; }
/*previews end*/

/*contacts*/
.contacts__holder { float: none; }
.contacts__frame {
	margin-right: 0;
}
.contacts-aside {
	float: none;
	margin: 0;
	width: auto;
}
/*contacts end*/

/*locate*/
.locate {
	padding: 190px 30px 40px;
	min-height: 590px;
}
.locate-controls{ left: 30px; }
.locate-controls a{
	float: left;
	text-align: left;
	padding: 15px 30px;
}
.see-map {
	right: 10px;
	top: 38px;
}
/*locate*/

/*contacts form*/
.contacts-aside:before{ content: none; }
.contacts-form{
	max-width: 440px;
	display: block;
	width: auto;
	padding: 30px;
}
/*contacts form end*/

/*popup*/
.product-card__visual {
	float: none;
	width: auto;
}
.product-card__content {
	width: auto;
	margin-left: 0;
	padding-left: 0;
}
/*popup end*/
/*CONTENT end*/
/*MAIN end*/

/*FILTERS*/
.filters-button-middle .button {
	min-width: 60px;
}
/*FILTERS end*/