@media only screen and (max-width: 979px){}
.layout { padding-left: 0; }
.main,
.sidebar,
.hide-screen .sidebar{ padding-top: 86px; }
.products-page .main { padding-top: 231px; }
.mobile .nav-drop .btn-close{ margin-top: 86px; }
.main:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: inherit;
	background: #00abc7;
	box-sizing: border-box;
}
.products-page .main:before{
	background: none;
}
.color-tape-horizontal{
	-webkit-background-size: 100%;
	background-size: 100%;
}

/*MAIN*/
/*CONTENT*/
.buttons,
.load-more{ padding: 35px 30px 55px; }
.section-title{ padding: 55px 30px 35px; }
/*popup*/
.popup{
	z-index: 99;
}
.btn-close-popup{
	right: 10px;
	top: 10px;
	z-index: 100;
}
/*popup end*/
/*CONTENT end*/
/*overlay*/
.overlay{
	background: transparent url(../img/empty.png);
}
/*overlay end*/
/*MAIN end*/

/*HEADER*/
.header{
	display: block;
}
.nav-opened .header .logo{
	-webkit-transform: translate(38px, 0);
	-ms-transform: translate(38px, 0);
	transform: translate(38px, 0);
}
/*HEADER end*/

/*social*/
.header-show .soc.fixed {
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
}
.header-show .soc.fixed.stick-bottom {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}
/*social end*/

/*SIDEBAR*/
.sidebar,
.hide-screen .sidebar{
	display: none;
}
.sidebar__holder { border-top: 1px solid #029db5; }
.sidebar .logo{
	display: none;
}
.color-tape-vertical,
.home-page .color-tape-vertical,
.home-page.hide-screen .color-tape-vertical{
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}
.nav-opened .color-tape-vertical,
.nav-opened .home-page .color-tape-vertical,
.nav-opened .home-page.hide-screen .color-tape-vertical{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*main navigation*/
.nav-drop__holder{ padding-top: 86px; }
.nav-drop__group {
	border: none;
	display: block;
	border-top: 1px solid #d8d8d8;
	height: auto !important;
	min-height: 0 !important;
	width: 320px;
}
.nav-drop__group:first-child { border: none; }
.nav-drop__title{
	font-size: 20px;
	line-height: 24px;
}
/*main navigation end*/
/*SIDEBAR end*/

/*FILTERS*/
.filters {
	top: 0;
	left: 0;
	border-top: 1px solid #f7f7f7;
}
.header-show .filters {
	-webkit-transform: translate(0, 86px);
	-ms-transform: translate(0, 86px);
	transform: translate(0, 86px);
}
/*FILTERS end*/

/*FOOTER*/
.footer-holder{ padding: 0 30px; }
/*FOOTER end*/