/*icons*/
[class|="depict"],
[class*=" depict-"]{
	background:url(../img/sprite-icons.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-search,
.input-complete:focus + .btn-search .depict-search{ background-position: 0 0; width: 16px; height: 16px; }
.depict-search-h{ background-position: 0 -36px; width: 16px; height: 16px; }
.depict-search-active,
.input-complete + .btn-search .depict-search{ background-position: 0 -72px; width: 16px; height: 16px; }
.depict-angle{ background-position: 0 -108px; width: 10px; height: 9px; }
.depict-angle-h{ background-position: 0 -137px; width: 10px; height: 9px; }
.depict-clear{ background-position: 0 -166px; width: 22px; height: 22px; }
.depict-clear-h{ background-position: 0 -208px; width: 22px; height: 22px; }
.depict-check{ background-position: 0 -250px; width: 16px; height: 14px; }
.depict-check-disabled{ background-position: 0 -284px; width: 16px; height: 14px; }

/*icons end*/

/*skills*/
[class|="depict-skills"],
[class*=" depict-skills-"]{
	background:url(../img/sprite-skills.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-skills-01{ background-position: 0 0; width: 30px; height: 30px; }
.depict-skills-02{ background-position: 0 -50px; width: 30px; height: 30px; }
.depict-skills-03{ background-position: 0 -100px; width: 30px; height: 30px; }
.depict-skills-04{ background-position: 0 -150px; width: 30px; height: 30px; }
.depict-skills-05{ background-position: 0 -200px; width: 30px; height: 30px; }
.depict-skills-06{ background-position: 0 -250px; width: 30px; height: 30px; }
.depict-skills-07{ background-position: 0 -300px; width: 30px; height: 30px; }
.depict-skills-08{ background-position: 0 -350px; width: 30px; height: 30px; }
.depict-skills-09{ background-position: 0 -400px; width: 30px; height: 30px; }
.depict-skills-10{ background-position: 0 -450px; width: 30px; height: 30px; }
.depict-skills-11{ background-position: 0 -500px; width: 30px; height: 30px; }
.depict-skills-12{ background-position: 0 -550px; width: 30px; height: 30px; }
.depict-skills-13{ background-position: 0 -600px; width: 30px; height: 30px; }
.depict-skills-14{ background-position: 0 -650px; width: 30px; height: 30px; }
.depict-skills-15{ background-position: 0 -700px; width: 30px; height: 30px; }
.depict-skills-16{ background-position: 0 -750px; width: 30px; height: 30px; }
/*skills end*/

/*social icons*/
[class|="soc-depict"],
[class*=" soc-depict-"] {
	background:url(../img/sprite-social.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.soc-depict-fb{ background-position: 0 0; width: 50px; height: 50px; }
.soc-depict-fb-blue{ background-position: 0 -70px; width: 50px; height: 50px; }
.soc-depict-fb-h{ background-position: 0 -140px; width: 50px; height: 50px; }
.soc-depict-tw{ background-position: 0 -210px; width: 50px; height: 50px; }
.soc-depict-tw-blue{ background-position: 0 -280px; width: 50px; height: 50px; }
.soc-depict-tw-h{ background-position: 0 -350px; width: 50px; height: 50px; }
.soc-depict-yt{ background-position: 0 -420px; width: 50px; height: 50px; }
.soc-depict-yt-blue{ background-position: 0 -490px; width: 50px; height: 50px; }
.soc-depict-yt-h{ background-position: 0 -560px; width: 50px; height: 50px; }
/*social icons end*/

/*stars*/
[class|="depict-star"],
.icon-star,
[class*=" depict-star-"]{
	background:url(../img/sprite-rating.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
/*stars end*/

@media ( -webkit-min-device-pixel-ratio : 1.5 ),
( min-resolution : 144dpi ){
	.iii {
		background-size:38px 38px;
	}
}